<!DOCTYPE html>
<html>
<head>
  <title>Primer proyecto de prueba</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <h1>Capacitacion Ruby on Rails</h1>
    <ul>
      <li><%= link_to "Inicio", root_path %></li>
      <li><%= link_to "Contacto", contact_path %></li>
      <li><%= link_to "Ir a Google", "http://www.google.com" %></li>
    </ul>
  </header>

  <%= image_tag 'ruby.jpg', width: 100 %>

<%= yield %>

  <footer>
    <p>Junio de 2016.</p>
  </footer>

</body>
</html>
